@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  color: #111;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
